* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dices {
	background: black;
	height: 300px;
	width: 500px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20px;
}

#first-dice,
#second-dice {
	background: white;
	color: black;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

#roll {
	height: 80px;
	width: 130px;
	cursor: pointer;
	background: rgb(80, 81, 79);
	border-radius: 5px;
	border: 3px solid black;
	color: #fffcff;
	text-align: center;
	font-size: 25px;
}

#roll:hover {
	font-size: 27px;
	background: rgb(80, 81, 79, 0.9);
}

@media screen and (max-width: 800px) {
	.dices {
		height: 250px;
		width: 450px;
	}

	#first-dice,
	#second-dice {
		height: 130px;
		width: 130px;
		font-size: 40px;
	}

	#roll {
		height: 80px;
		width: 120px;
		font-size: 20px;
	}

	#roll:hover {
		font-size: 22px;
	}
}

@media screen and (max-width: 400px) {
	.dices {
		height: 200px;
		width: 350px;
	}

	#first-dice,
	#second-dice {
		height: 110px;
		width: 110px;
		font-size: 30px;
	}

	#roll {
		height: 60px;
		width: 90px;
		font-size: 15px;
	}

	#roll:hover {
		font-size: 17px;
	}
}
